@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@media (min-width: 1024px) {
  body {
    zoom: 80%;
  }
}
/* Disable text selection everywhere */
body {
  user-select: none;
}

/* Re-enable selection only for contact info */
.allow-select, .allow-select * {
  user-select: text !important;
}

